<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="d-flex justify-content-center">
              <h1 id="title">Rydle</h1>
            </div>
            <div class="d-flex justify-content-center">
              <span><strong>Event: </strong>{{description}}</span>
            </div>
            <div class="d-flex justify-content-center">
              <app-guess></app-guess>
            </div>
            <div class="d-flex justify-content-center">
              <app-results></app-results>
            </div>
            <div class="row d-flex justify-content-center">
              <app-share *ngIf="shareEnabled"></app-share>
            </div>
        </div>
        <div class="col-sm-4">
            <app-help></app-help>
        </div>
    </div>
  </div>