.dark{
    background-color: #121213;
    color: #f8f8f8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

span .result{
    // border-style: solid;
    // border-width: 2px;
    // border-color: black;
    padding: 5px;
    margin: 2.5px;
    display: inline-block;
    height: 62.5px;
    width: 62px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 0 0;
    line-height: 35px;
}

.guess-box{
    background-color: #ebebeb;
}

.guess-selected{
    background-color: aqua;
}

.dark .black{
    background-color: #3a3a3c;
    color: white;
}

.dark .green{
    background-color: #538d4e;
    color: white;
}

.dark .yellow{
    background-color: #b59f3b;
    color: white;
}

.black{
    background-color: #787c7e;
    color: white;
}

.green{
    background-color: #6aaa64;
    color: white;
}

.yellow{
    background-color: #c9b458;
    color: white;
}

.success{
    color: #6aaa64;
}

.btn-submit{
    width: 200px;
}

.number-pad{
    padding: 5px;
    margin: 2.5px;
    height: 62.5px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 0 0;
    line-height: 35px;
    background-color: #d3d6da;
    color: black;
    cursor: pointer;
}

.number-pad:disabled{
    cursor: not-allowed;
}

.key{
    width: 62px;
}

.present{
    background-color: #6aaa64;
    color: white;
}

.not-present{
    background-color: #787c7e;
    color: white;
}

.results-area{
    width: auto;
    height: 390px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.guess-group{
    width: auto;
    display: flex;
}

.outline-red{
    border-color: red;
    background-color: red;
}

.fade {
    opacity: 1;
    animation: fade 0.5s linear;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }