.dark{
    background-color: #121213;
    color: #f8f8f8;
}

button {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-style: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

span .result{
    padding: 5px;
    margin: 2.5px;
    display: inline-block;
    height: 62.5px;
    width: 62px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 0 0;
    line-height: 35px;
}


.btn-submit{
    width: 200px;
}

.number-pad{
    padding: 5px;
    margin: 2.5px;
    height: 62.5px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 0 0;
    line-height: 35px;
    cursor: pointer;
}

.number-pad:disabled{
    cursor: not-allowed;
}

.key{
    width: 62px;
}

.results-area{
    width: auto;
    height: 390px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.guess-group{
    width: auto;
    display: flex;
}

.outline-red{
    border-color: red;
    background-color: red;
}

.fade {
    opacity: 1;
    animation: fade 0.5s linear;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

  
/* Colors */
/* ------ */

$green: #6aaa64;
$green-d: #538d4e;
$yellow: #c9b458;
$yellow-d: #b59f3b;
$gray: #787c7e;
$gray-d: #3a3a3c;
$light-gray: #ebebeb;
$light-gray2: #d3d6da;
$aqua: aqua;
$aqua-d: rgb(5, 228, 228);

.guess-box{
    background-color: $light-gray;
    color: black;
}

.dark .guess-box{
    background-color: $light-gray;
    color: black;
}

.guess-selected{
    background-color: $aqua;
}

.dark .guess-selected{
    background-color: $aqua-d;
}

.black{
    background-color: $gray;
    color: white;
}

.dark .black{
    background-color: $gray-d;
    color: white;
}

.green{
    background-color: $green;
    color: white;
}

.dark .green{
    background-color: $green-d;
    color: white;
}

.yellow{
    background-color: $yellow;
    color: white;
}

.dark .yellow{
    background-color: $yellow-d;
    color: white;
}

.present{
    background-color: $green;
    color: white;
}

.dark .present{
    background-color: $green-d;
    color: white;
}

.not-present{
    background-color: $gray;
    color: white;
}

.success{
    color: $green;
}

.dark .success{
    color: $green-d;
}

.option-button {
    background-color: $gray-d;
    color: white;
    margin: 2px;
}

.dark .option-button {
    background-color: white;
    color: black;
}

.number-pad {
    background-color: $light-gray2;
    color: black;
}

.dark .number-pad {
    background-color: $light-gray2;
    color: black;
}